ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}
.active{
  background-color: rgb(180, 188, 35);
}
/* .container {
  display: grid;
  height: 400px;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
} */
.container{
  box-sizing: border-box;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0;
}
.column{
  float: left;
  box-sizing: border-box;
  width: 30%;
  margin: 0.5%;
}
.card img{
  width: 100%;
}
.card button {
  background-color: black;
  color: white;
  border: none;
  width: 100%;
  height: 25px;
}
a{
  text-decoration: none; 
  color: white;
}
.card{
  text-align: center;
}
.footer{
  clear: both;
  text-align: center;
  background-color: rgb(180, 188, 35);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

